body {
    font-family: monospace;
}

.container {
    background-color: #0d1b2a;
    border-radius: 8px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 8px;
}

.row {
    background-color: #0d1b2a;
    width: 400px;
    height: 200px;
    display: flex;
    gap: 0.2rem;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: #778da9;
    border-radius: 8px;
    width: 90px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    flex: 1;
}

.display {
    background-color: #e0e1dd;
}

#zero {
    flex: 2;
}