body {
    font-family: monospace;
}

.container {
    background-color: #1b263b;
    border-radius: 8px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 16px;
}

.row {
    background-color: #0d1b2a;
    width: 400px;
    height: 200px;
    display: flex;
    gap: 0.2rem;
    justify-content: space-between;
    align-items: center;
}

.button,
.operator {
    background-color: #778da9;
    font-family: inherit;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 8px;
    width: 90px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    flex: 1;
    cursor: pointer;
}

.display {
    background-color: #e0e1dd;
    margin-bottom: 4px;
    justify-content: right;
    font-size: 55px;
}

button[value="0"] {
    flex: 2;
}